<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false">
  <clientResources>
    <add name="epinova-elasticsearch-res" path="ClientResources/Scripts/init.js" resourceType="Script" />
    <add name="epinova-elasticsearch-res" path="ClientResources/Scripts/ToolbarProvider.js" resourceType="Script" />
    <add name="epinova-elasticsearch-res" path="ClientResources/Scripts/UpdateIndexCommand.js" resourceType="Script" />
    <add name="epinova-elasticsearch-res" path="ClientResources/Scripts/UpdateTreeStructureCommand.js" resourceType="Script" />
    <add name="epinova-elasticsearch-res" path="ClientResources/Scripts/MoreLikeThisSearch.js" resourceType="Script" />
  </clientResources>

  <dojo>
    <packages>
      <add name="epinova-elasticsearch" location="ClientResources/Scripts" />
    </packages>
  </dojo>
    
  <clientModule initializer="epinova-elasticsearch.init">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="epinova-elasticsearch-res" />
    </requiredResources>
  </clientModule>
</module>
